environment                 = "prd"
snowflake_account           = "acme.sa-east-1"
snowflake_user              = "hybrid_lakehouse_terraform"
snowflake_role              = "SECURITYADMIN"
snowflake_region            = "AWS_SA_EAST_1"
snowflake_authenticator     = "externalbrowser"
aws_region                  = "sa-east-1"
aws_profile                 = "hybrid-lakehouse-prd"
notification_users          = ["data-governance@hybrid-lakehouse.local"]
data_classification_default = "confidencial"
